@model AuditTrailMVC.Models.Audit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFirstLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFirstLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoggedInAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoggedInAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoggedOutAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoggedOutAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageAccessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageAccessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlReferrer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlReferrer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuditId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
